<div id="spinnerPreviewContainer">

  <div *ngFor="let item of createArray(number); let index = index;"
    [ngStyle]="{
    'left': '50%',
    'top': '50%',
    'margin': 'auto',
    'backgroundColor': shape.color,
    'height': shape.height + 'px',
    'width': shape.width + 'px',
    'transform-origin': '',
    'transform': 'rotate(' + index * (360/number)  + 'deg) translate(' + horizontalSpace + 'px, ' + verticalSpace + 'px)',
    'border-radius': shape.borderRadius + 'px'
    }" class="spinnerPreviewShape"></div>
</div>
